[submodule "dependencies/glfw/glfw"]
	path = dependencies/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/assimp/assimp"]
	path = dependencies/assimp/assimp
	url = https://github.com/assimp/assimp.git
